<%- include('ek/header', {bot, user, path}) %>
<div class="container">
<style> h3 { color:#fff; } p { color:#fff; } </style>
	<div class="jumbotron">
		<div align="center">
      <h3 style="color:#fff">
        About Us
      </h3>
		   <p style="font-size:15px; color:lightgrey">
        Spice up your Discord experience with our diverse range of Discord bots <br> A secure system where you can host your rapidly developed bots.
      </p>
      <br>
      <a href="https://discord.gg/fWfPerr" class="btn btn-default" style="background-color:#333; color:#fff">Join Our Community!</a>
</div>
  </div></div></div>
<% include ./ek/footer %>