<%- include('ek/header', {bot, user, path}) %>
<div class="container">
  <style> body { background-color:#4c4c4c; } strong { color:#00bc3b; } h3 { color:#fff; } p { color:#fff; } </style>
  <div align="center"><br>
    <div class="jumbotron" style="background-color:#222; border-radius:40px;">
  <h3 style="color:#fff">
    Discord4Bots - API
  </h3>
		<br><br><br>
      <h4 style="color:#fff">
        <strong>GET</strong> /bots/{bot_id}
      </h4>
		   <p style="color:lightgrey">
         It shows the information in the system of a bot whose ID you have specified in our system.<br>
         <i>Example link: <a href="https://discord4bots.glitch.me/api/bots/716301852811067482">https://discord4bots.glitch.me/api/bots/716301852811067482</a></i>
      </p>
      <br><br>
      <h4 style="color:#fff">
        <strong>GET</strong> /bots/{bot_id}/votes/{user_id}
      </h4>
		   <p style="color:lightgrey">
         It shows whether a user whose ID you specified in our system has given a bota ID or not has given a vote during the day. If he did not vote, he writes null.<br>
         <i>Example link: <a href="https://discord4bots.glitch.me/api/bots/716301852811067482/votes/484010160981934100">https://discord4bots.glitch.me/api/bots/716301852811067482/votes/484010160981934100</a></i>
      </p>
      <br><br>
</div>
  </div></div></div>
<% include ./ek/footer %>