<%- include('ek/header', {bot, user, path}) %>
<div class="container">
<style> h3 { color:#fff; } p { color:#fff; } </style>
	<div class="jumbotron">
		<div align="center">
		   <h3>How to Get a Certificate?</h3>
		   <p>Hello there! First, the certificate will ensure that you and your bot receive additional rank. <br> <strong> So what exactly does the certificate bring?</strong><br>
		 <a style="color:red">1.</a> On our Discord Server, you get your bot Certified Bot role, you get the Certified Developer role. <br>
		 <a style="color:red">2.</a> On our site (here), there is a Certified writer on your bot's profile and a Certificate icon on your bot's profile. <br> <br> <strong> And let's see how you get the Certificate.</strong> <br>
		 To get a certificate, your bot must be on 70-90 servers. If your bot meets this requirement, our officials will carefully check whether your bot has an error or if there is no error, your bot will be kept under observation for 2 days. During this time, your bot will receive a certificate if it is not offline / closed at all.
		</p>
</div>
  </div></div></div>
<% include ./ek/footer %>