<%- include('ek/header', {bot, user, path}) %>
<div class="container">
	<div class="jumbotron">
		<div align="center">
      <h3 style="color:#fff">You can only vote for each bots once a day!</h3>
    </div>
</div>
</div></div></div>