<%- include('ek/header', {bot, user, path}) %>
<div class="container">
	<div class="jumbotron">
		<div align="center">
      <h3 style="color:#fff">You are not authorized! So you cannot access the authorized panel!</h3>
    </div>
</div>
</div></div></div>
<% include ./ek/footer %>